@media screen and (max-width: 1200px) {
  /*업무관리-근태관리 세로로 일렬정렬*/
  .wrap_taskmanage .todayleave > div {
    flex: auto;
  }
}

.todayleave {
  display: flex;
  flex-wrap: wrap;
}

.todayleave > div {
  flex: 1;
  padding: 20px;
  height: auto;
}

.todayleave-col {
  display: flex;
  flex-wrap: wrap;
}

.todayleave-col > div {
  padding: 20px;
  height: auto;
}

.react-calendar {
  border: 0;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
}

.paymanageextra .month-picker > .rmp-container .rmp-popup {
  left: 0;
}
