.wrap-paydocument .flex {
  display: flex;
}

.wrap-paydocument .jf-end {
  justify-content: flex-end;
}

.month-picker > .rmp-container .rmp-popup {
  right: 0;
}

.payDocumentDetail .month-picker > .rmp-container .rmp-popup {
  right: 39px;
  top: 50px;
}
