/* 고객관리 - 근로계약서 */
/* 검색창 */
.container .filterCom {
  justify-content: flex-start;
  flex-wrap: nowrap;
  box-shadow: 6px 10px 12.75px 2.25px rgba(87, 178, 163, 0.4);
  width: 100%;
  max-width: 400px;
  height: 50px;
  border: 0;
  border-radius: 16px;
  margin-bottom: 30px;
  text-indent: 12px;
}
/* 검색버튼 */
.container .clearButt {
  border: 0;
  background: #67c7b9 url(../../img/close_white.png) no-repeat center center/60%
    auto;
  text-indent: -9999px;
  border-radius: 14px;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 11px;
  right: 22px;
}

#column-1 > div,
#column-2 > div,
#column-3 > div,
#column-4 > div {
  font-size: 1.2rem;
  font-weight: 800;
}

.rdt_Pagination > div:nth-child(2) {
  width: 45px;
  font-size: 1rem;
}

/* 메인페이지 오늘의 근무자 해더 중앙 정렬*/
.rdt_TableCol {
  justify-content: center;
}
/* 헤더 솔트 버튼만큼 이동해서 중앙 정렬*/
.rdt_TableCol > div {
  /* margin-left: 22px; */
  width: 100%;
  justify-content: center;
}
/* 오늘의 근무자 셀 내용 중앙 정렬*/
.rdt_TableCell {
  justify-content: center;
}
/* 오늘의 근무자 셀 내용 안짤리도록 넓히기*/
.rdt_TableCell > div {
  width: 100%;
  text-align: center;
}
/*직원관리-직원관리 테이블 헤더 QR, 퇴직처리 중앙 정렬*/
.workerManageStaffWrap .rdt_TableCol > #column-2 {
  margin-left: 0;
}
.workerManageStaffWrap .rdt_TableCol > #column-4 {
  margin-left: 0;
}
