/* 고객관리 - 근로계약서 */
/* 검색창 */
.container .filterCom {
  justify-content: flex-start;
  flex-wrap: nowrap;
  box-shadow: 6px 10px 12.75px 2.25px rgba(87, 178, 163, 0.4);
  width: 100%;
  max-width: 400px;
  height: 50px;
  border: 0;
  border-radius: 16px;
  margin-bottom: 30px;
  text-indent: 12px;
}
/* 검색버튼 */
.container .clearButt {
  border: 0;
  background: #67c7b9 url(../../img/close_white.png) no-repeat center center/60%
    auto;
  text-indent: -9999px;
  border-radius: 14px;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 11px;
  right: 22px;
}
