/* 고객관리 - 근로계약서 */
/* 검색창 */
.container .krDAgv {
  justify-content: flex-start;
  flex-wrap: nowrap;
  box-shadow: 6px 10px 12.75px 2.25px rgba(87, 178, 163, 0.4);
  width: 100%;
  max-width: 400px;
  height: 50px;
  /* position: absolute;
  top: 120px;
  left: 40px; */
  border-radius: 16px;
  margin-bottom: 30px;
}
/* 검색 인풋 */
.container .jsTYsS {
  width: 100%;
  max-width: 310px;
  border: 0;
  height: 40px;
  font-size: 1.2rem;
}
/* 검색버튼 */
.container .hwsrfo {
  border: 0;
  background: #67c7b9 url(../../img/search.png) no-repeat center center/60% auto;
  text-indent: -9999px;
  border-radius: 14px;
  width: 36px;
  height: 36px;
}
/* 첫번째열 */
.container .edTgaw {
  font-weight: 600;
  /* padding-left: 50px; */
  justify-content: center;
}
/* 라벨 */
.container .csacee {
  /* padding-left: 50px; */
  justify-content: center;
}
/* 라벨 정렬 */
.container .kqQCpR {
  justify-content: center;
}
/* 라벨 텍스트 굵기 */
.container .hkcGBu {
  font-weight: 600;
  font-size: 1.2rem;
}

.container .jelNoK {
  font-size: 1rem;
}

.container .hcxOIW {
  width: 50px;
}

.container .hcxOIW svg {
  margin: 5px;
}
