button,
input,
optgroup,
select,
textarea {
  border: 1px solid #aaa;
  padding: 6px !important;
  border-radius: 12px;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 0;
}

.ml-20 {
  margin-left: 20px;
}
