.sectionShadow {
  border-radius: 25px;
  padding: 40px 30px;
  margin: 30px 15px 0 15px;
  background-color: #fff;
  box-shadow: 6px 6px 6.75px 6.25px rgba(87, 178, 163, 0.4);
  width: -webkit-fill-available;
}

.small-shadow {
  border-radius: 10px;
  padding: 10px 20px;
  margin: 15px;
  box-shadow: 3px 3px 6.75px 2.25px rgba(87, 178, 163, 0.5);
  border: 0;
}

.small-box {
  border-radius: 10px;
  border: 0;
  background-color: rgba(87, 178, 163, 0.9);
  color: #fff;
}

.border-col {
  border-collapse: collapse;
}
