button {
  border: 0;
  background-color: #fff;
}

.button-solid {
  border: 1px solid #67c7b9;
  padding: 12px 60px;
  border-radius: 35px;
  background-color: #67c7b9;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.button-solid > a {
  color: #fff;
}

.button-solid:hover {
  transition: all ease 0.8s 0s;
  background-color: #fff;
  color: #67c7b9;
  border: 1px solid #67c7b9;
}

.button-solid:hover > a {
  color: #67c7b9;
}

.button-solid_white {
  border: 1px solid #67c7b9;
  padding: 12px 60px;
  border-radius: 35px;
  color: #67c7b9;
  background-color: #fff;
  font-weight: bold;
  margin: 20px 0;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.button-solid_white-0 {
  border: 1px solid #67c7b9;
  border-radius: 35px;
  color: #67c7b9;
  background-color: #fff;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 767px) {
  .button-solid {
    padding: 10px 20px;
  }
}
