.button-solid {
  border: 0;
  padding: 12px 60px;
  border-radius: 35px;
  background-color: #67c7b9;
  color: #fff;
  margin: 20px 0;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.button-solid:hover {
  transition: all ease 0.8s 0s;
  background-color: #fff;
  color: #67c7b9;
  border: 1px solid #67c7b9;
}
