#root {
  background-color: #67c7b9;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.wrap {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-color: #fff;
}

.wrap > .container {
  position: relative;
  min-height: 1000px;
  padding-top: 100px;
}

@media (min-width: 769px) {
  .wrap > .container {
    padding-left: 255px;
  }
  .wrap_login > .container {
    padding-left: 0;
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .wrap > .container {
    padding-left: 0;
  }
}

/* .side-navigation-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 200px;
  width: 200px;
  z-index: 999;
  background-color: #67c7b9;
} */

.bg-base {
  background-color: #67c7b9 !important;
}

.logo {
  width: 100px;
  height: auto;
  /* top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  position: fixed; */
  display: flex;
  margin: 0 auto;
  align-items: center;
  border-radius: 20px;
  box-shadow: 3px 5px 9.6px 4.4px rgba(64, 171, 153, 0.7);
}
/* .logo::before {
  border-radius: 20px;
  box-shadow: 6px 6px 5px 4px rgba(103, 199, 185, 0.7);
  mix-blend-mode: multiply;
  content: ' ';

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
} */

.logo img {
  border-radius: 20px;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.card-content {
  padding: 70px 0;
}

.width-fit {
  width: fit-content;
}

.w-100px {
  width: 100px;
}

.w-70px {
  width: 70px;
}

.w-60per {
  width: 60%;
}

.flex {
  display: flex;
}

.align-ct {
  align-items: center;
}

.js-sbt {
  justify-content: space-between;
}

.js-ct {
  justify-content: center;
}

.h-fit {
  height: fit-content;
}
