/* 사이드네비게이션의 하위 메뉴 패딩 값입니다. */
.side-navigation-panel
  .side-navigation-panel-select
  .side-navigation-panel-select-inner
  .side-navigation-panel-select-inner-wrap
  .side-navigation-panel-select-inner-option {
  padding: 0.5rem 3rem;
}

.side-navigation-panel
  .side-navigation-panel-select
  .side-navigation-panel-select-wrap
  .side-navigation-panel-select-option
  .side-navigation-panel-select-option-wrap
  .side-navigation-panel-select-option-text {
  /* color: #fff; */
  font-weight: 700;
  font-size: 1.16rem;
}

/* 사이드 내비게이션 좌측 보더 제거*/
.side-navigation-panel
  .side-navigation-panel-select
  .side-navigation-panel-select-wrap
  .side-navigation-panel-select-option {
  border-left-width: 0;
}
.side-navigation-panel
  .side-navigation-panel-select
  .side-navigation-panel-select-inner
  .side-navigation-panel-select-inner-wrap
  .side-navigation-panel-select-inner-option {
  border-left-width: 0;
}

/* 사이드 내비게이션 폰트 색상 */
.side-navigation-panel *,
.side-navigation-panel:after,
.side-navigation-panel:before {
  color: #fff;
}

/* 메뉴 선택시 색상 */
.side-navigation-panel
  .side-navigation-panel-select
  .side-navigation-panel-select-wrap
  .side-navigation-panel-select-option-selected {
  background-color: rgba(58, 102, 100, var(--tw-bg-opacity));
  border: 0;
}

/* 선택된 메뉴 */
.side-navigation-panel
  .side-navigation-panel-select
  .side-navigation-panel-select-wrap
  .side-navigation-panel-select-option:hover {
  background-color: rgba(58, 102, 100, var(--tw-bg-opacity));
}

/* 서브메뉴 호버 */
.side-navigation-panel
  .side-navigation-panel-select
  .side-navigation-panel-select-inner
  .side-navigation-panel-select-inner-wrap
  .side-navigation-panel-select-inner-option:hover {
  background-color: rgba(58, 102, 100, var(--tw-bg-opacity));
}

/* 선택된 메뉴 */
.side-navigation-panel
  .side-navigation-panel-select
  .side-navigation-panel-select-inner
  .side-navigation-panel-select-inner-wrap
  .side-navigation-panel-select-inner-option-selected {
  background-color: rgba(58, 102, 100, var(--tw-bg-opacity));
  border: 0;
}
