.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid #999;
  font-size: 0.8rem !important;
  font-weight: 600;
  color: #ccc;
  padding: 20px 10px;
  margin-top: 100px;
}

.wrap_login .footerIn {
  padding-left: 0;
}

.footerIn {
  width: 100%;
  max-width: 1080px;
  padding-left: 255px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footerIn .copy {
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}
.footerIn .footerUtill {
  width: 100%;
  text-align: center;
  padding: 1rem;
}
.footerIn .footerUtill a {
  padding: 0 30px;
  border-left: 1px solid #222;
}
.footerIn .footerUtill a:first-child {
  border: none;
}
.footerIn .footerCompany {
  flex: 100%;
  text-align: center;
}
.footerIn .footerCompany span {
  padding: 0 10px;
  font-size: 1rem;
}

@media (max-width: 767px) {
  .footer {
    padding: 20px 0;
  }
  .footerIn {
    padding-left: 0;
  }
  .footerIn .copy {
    padding: 5px;
    font-size: 14px;
  }
  .footerIn .footerUtill {
    display: flex;
    flex-direction: column;
    padding: 7px;
  }
  .footerIn .footerUtill a {
    padding: 0;
    border: 0;
    font-size: 1rem;
  }
  .footerIn .footerCompany {
    display: flex;
    flex-direction: column;
  }
  .footerIn .footerCompany span {
    font-size: 14px;
  }
  .footerIn .footerCompany p span {
    display: flex;
    flex-direction: column;
  }
  .footer a {
    color: blue;
  }
}
